<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ehernandez.asesoruanl" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.AppTheme.NoActionBar">

        <activity
            android:name=".OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".Register"/>

        <activity android:name=".Login"/>

        <activity android:name=".Signup"/>

        <activity android:name=".PersonalInformationAsesor"/>

        <activity android:name=".MyConsultancies"/>

        <activity android:name=".SearchByConsultancy"/>

        <activity android:name=".SearchConsultancy"/>

        <activity android:name=".PersonalInformationStudent"/>

        <activity android:name=".AddAsesorConsultancy"/>

        <activity android:name=".AddStudentConsultancy"/>

        <activity android:name=".EditConsultancy"/>

        <activity android:name=".SendEmail"/>

        <activity android:name=".Settings"/>

        <activity android:name=".ProfileSettings"/>

        <activity android:name=".PasswordSettings"/>
    </application>

</manifest>
